
  .find-your-home{
    padding-left: 1.875rem;
    display: flex;
    flex-direction: column;

    border: 1px solid orange;
    background-color: white;
    width: 344px;
    height: fit-content;
    border-radius: 5px;

    .my-custom-checkbox input{
    width: unset !important;
    height: unset !important;

  }
    .slider-container{
      width: auto;
      height: auto;
      border: red;
    }
    .my-custom-checkbox{
      .checkbox{

      }
    }
    .find-your-home-text{
      font-size: $home-page-font-size;
      font-weight:$home-page-font-weight !important;
      color: $home-page-font-color !important;
      padding-top: 20px;
    }
    .item{
      position: relative;

      .icon{
        position: absolute;
        top: 25%;
        transform: translateY(-0%);

        right: 0;
        padding-right: 40px;
        &:hover{
          cursor: pointer;
        }
      }

    }
    .slider{
      .slider-price-style{
        color: $home-page-price-style-color;
        text-align: center;
        font-weight: $home-page-font-weight + 100 !important;
        margin-bottom: 10px;
      }
      .slider-title{
        color: $home-page-slider-text-color;
      }
    }


    .text{
      padding-bottom: 20px;

    }
    .beds-and-baths-text{
      display: flex;
      gap:15px;
      #beds {
        box-sizing: border-box;
        .icon{
          right:-20px;
        }
      }
      #baths {
        min-width: 137px;

      }

       input{
         height: 52px !important;
        width: 137px !important;
      }
      }

    }


