.form-control{

    width:100%;

    .form-control-item{
      width: inherit;
      padding-right: 30px !important;
    }
  .box-container{

      .form-control-item {
        width: 100%;


         .MuiInputBase-root{
          width: 100%;
         .MuiFormControl-root {
          width: 100px;
        }
    }

      }

    .MuiInputBase-root{
      width: 100%;

    }
    .MuiFormControl-root {
      flex-grow: 1;
    }


  }

}

