.header-container{
  background-color: white;
  position: relative;
  width: 100% ;

  .test-header{

    display: grid;
    grid-template-columns: auto auto auto;
    .input-label{

    }
    .popup-text{
      padding: 10px !important;
    }
    .language-text{
      font-weight: 600;
      position: absolute;
      right: 190px;
      top: 80px;
    }
  }

  img{
    position: relative !important;
    left: -16px;
    width: 156px;;
    height: auto;
    margin: 10px;
    max-width: 100%;
    &:hover{
      cursor: pointer;
    }
  }
  .menu{
    display: flex;
    margin-top:25px ;

    .padding{
      margin-left: 30px;
    }

    .menu-item{
      position: relative;
      margin-right: 25px;

       i{
        margin-left: 10px;
      }
      cursor: pointer;
      color: $header-menu-color !important;
      text-decoration: none;
      font-size: 14px;
      font-weight: $header-menu-text-weight !important;
        &:hover{
          .popup-menu{
             opacity: 1;

             transform: translateY(0);
             pointer-events: auto;
          }
          }

      &:after{
        content: "";
        position: absolute;
        background-color: #17a2b8;
        height: 3px;
        width: 0;
        left: 0;
        bottom: 0;
        transition: 0.3s;
        margin-bottom: 10px;

      }
       }

          .popup-container{
            padding-top: 1rem;

             .popup-menu {
            position: absolute;
            left: 0;
            min-width: 100%;

            background-color: white;
            display: flex;
            flex-direction: column;
            color: #ababab;
            z-index: 10;
            border-radius: 10px;
            filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.1));
            opacity: 0;
            transform: translateY(-10px);
            transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
            pointer-events: none;

            .menu-item {


              padding: 10px;
              margin-bottom: 10px;

              &.popup-item {
                text-align: center;

                width: 100%;

                &:hover {
                  background-color: #f6f6f6;
                }
              }
            }

          }
         }


    }

    .menu > .menu-item:hover:after{
      width: 100%;
    }
  }
