.header-bottom{

  background-color: #ffffff !important;
  .filter-text{
  font-size: 30px;
  color: #333333 !important;
  font-weight:800 !important;
  width: 100% !important;
  padding-bottom: 30px;
  word-wrap: break-word !important;


}
}

