 .properties{

      .found-section{
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
       .found{

       }
        .sort-by{
          display: flex;
          flex-direction: column;
        }
      }
    }
