.image-slider-container{

  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
  .RadioGroup{
    display: flex;
    justify-content: center;
  }
  .items-flex{

    .actions{
      .left-step-button, .right-step-button{
    cursor: pointer;
    position: absolute;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.33);

    opacity: 1;

  }
   .left-step-button{
    right: 2rem;
     margin-right: 10px;

  }
  .right-step-button{
    right:0;

  }

    }
    .featured-Item-text{
      .Featured-Item{

      font-size: 16px;
      color:black;


    }
    }
  }
  .image-container {
    position: relative;

      .slider-image-container{
        position: relative;

        &::after{
          content: '';
          position: absolute;
          inset: 0;
          background-image: linear-gradient(rgba(0, 0, 0, 0) 5%, #000000 109%) !important;
        }
        .buttons{
          margin: 10px;
          position: absolute;
          top: 20px;

          display: flex;
          justify-content: space-between;
          gap: 15px;
          width: max-content;
          height: 40px;

           .button{
            width: 86px;
            height: 25px;
             border: none;
            border-radius: 5px;
            color: white;
            &:hover{
              cursor: pointer;
            }
             &.orange{
               background-color:$image-slider-orange-color;
               &:hover{
                 background-color: #ff4d35;
               }
             }
             &.purple{
               background-color: $image-slider-purple-color;
                &:hover{
                 background-color: #1e58d7;
               }
             }
        }

        }
        .content{
          margin-left: 10px ;
          position: absolute;
          top: 110px;
          display: flex;
          flex-direction: column;
          z-index: 2;

          .price{
            color: white;
            margin-bottom: 10px;
          }
          .Villa{
            color: white;
            font-weight: 600;

          }
          .San-Predro{
            color: rgb(155,155,155);
          }
        }


            .slider-image {
            display: none;
            height: 100%;
            width: 100%;
            margin-top: 20px;
            border-radius: 10px;
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 14px;
            transition-duration: 1s;
    }



        .active {
      display: inherit;
      transition-duration: 1s;

    }
      }




  }

     &:hover{
    .left-step-button, .right-step-button{
      opacity: 1;
      transition: opacity 1s;
    }
  }




}