.slider-container{

  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 20px;
  overflow: hidden;
  position: relative;

  border-radius: 10px;
  .RadioGroup{
    display: flex;
    justify-content: center;
  }
  .items-flex{
    display: flex;
    .actions{
      .left-step-button, .right-step-button{
    cursor: pointer;
    position: absolute;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.33);

    opacity: 1;

  }
   .left-step-button{
    right: 2rem;
     margin-right: 10px;
  }
  .right-step-button{
    right:0;
  }

    }
    .featured-Item-text{
      .Featured-Item{

      font-size: 16px;
      color:black;
      text-align: left !important;

    }
    }
  }
  .image-container {
      .slider-image-container{
         .slider-image {
      display: none;
      height: 100%;
      width: 100%;
      margin-top: 20px;
      border-radius: 10px;

    }
        .active {
      display: inherit;
    }
      }




  }

     &:hover{
    .left-step-button, .right-step-button{
      opacity: 1;
      transition: opacity 1s;
    }
  }




}