$footer-bg: #252525;
$footer-width: 1053px;
$footer-height: 481px;
$footer-text-size: 1rem;
$footer-text-color: #ababab;
$footer-text-weight:900;
$footer-lite-text-weight:600;
$footer-line-height: 2.6;
$footer-button-color: #0EC6D5;

$header-menu-color: #1e1e1e;
$header-menu-text-weight: 1000;

$home-page-color: rgba(225, 225, 225, 0.31);
$home-page-font-size: 16px;
$home-page-font-weight: 400;
$home-page-font-color: #252525;
$home-page-background-color: #f8f8f8;
$home-page-price-style-color: #696969;
$home-page-slider-text-color: #9b9b9b;
$home-page-button: #0ec6d5;

$max-width-home: 1000px;